.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.chat-text {
  width:100%;
  height:auto;
  overflow: auto;
  font-size: 14px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
}

.chat-text strong {
  font-weight: bold;
  color: rgba(80, 80, 120, 0.5);
}

.chat-text strong.mine {
  font-weight: bold;
  color: rgba(30, 60, 180, 0.8);
}

.chat-text a {
  text-decoration: none;
}

#board {
  borderLeftWidth: 0;
  width:100%;
  height:auto;
}

.chat-status {
  float: left;
}

.status {
  line-height: 22px;
}

.card-header a {
  float: right;
  font-weight: bold;
  text-decoration: none;
}

.player-name {
  float: left;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.4);
}

.clock {
  float: right;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.4);
}

.nav-tabs .nav-link .closeTab {
  margin: -2px 0 0 -3px;
  padding-right: 1px;
  font-size: 20px;
}

.nav-tabs .nav-link {
  font-size: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
}

#chat-toggle {
  font-size: 20px;
}
