.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  height: 100%;
}

.fill {
  min-height: 85%;
  height: 85%;
}

.chat-text {
  width: 100%;
  height: auto;
  overflow: auto;
  font-size: 14px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.chat-text strong {
  font-weight: bold;
  color: rgba(80, 80, 120, 0.5);
}

#game-status {
  display: inline;
  font-weight: bold;
  color: rgba(80, 80, 120, 0.5);
}

.chat-text strong.mine {
  font-weight: bold;
  color: rgba(30, 60, 180, 0.8);
}

.chat-text a {
  text-decoration: none;
}

.btn-toolbar .btn {
    margin-right: 10px;
}
.btn-toolbar .btn:last-child {
    margin-right: 0;
}

#chat-status {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

#board {
  margin: -10px;
}

.name {
  display: inline-block;
  font-size: 20px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.captured img {
  display: inline-block;
  margin: -15px 0 -4px -4px;
  width: 23px;
  opacity: 0.6;
}

.captured small {
  position: relative;
  left: -15px;
  top: 12px;
  opacity: 0.6;
}

.clock {
  display: inline-block;
  font-size: 24px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.4);
}

.history {
  height: auto;
  overflow: auto;
  font-size: 14px;
  font-weight: 60;
}

.history td {
  width: 60px;
}

.moveNumber {
  display: inline;
  font-weight: bold;
  padding: 0 35px 0 30px;
  color: rgba(0, 0, 0, 0.4);
}

.history a:hover {
  font-weight: bold;
  text-decoration: none;
}

.nav-tabs .nav-link .closeTab {
  opacity: 0;
  margin-right: 0px;
  padding-right: 0px;
  font-size: 18px;
}

.nav-tabs .nav-link:hover .closeTab {
  opacity: 1;
}

.nav-tabs .nav-link {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.dropdown-menu, .dropdown-header {
  font-size: 14px;
}

.dropdown-icon {
  margin-right: 6px;
}

.dropdown-toggle::after {
  display: none;
}

.feature3 {
  background-color: whitesmoke;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23989898' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.color-box {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.gh-emoji {
  margin-top: -5px;
  width: 18px;
  height: 18px;
}
