/*neutral*/
* {
	font-family: 'Signika', sans-serif;
}.footer,
.header {
	background-color: #345d87;
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2397e3f9' fill-opacity='0.15' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: aliceblue;
}
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
#topbar {
	margin-top: 20px;
	margin-bottom: 60px;
}
.download {
	margin: 30px 0 30px 0;
	padding: 30px 20px 10px 0px;
	background-color: #345d87;
	border-radius: 5px;
  position: relative;
  border: 1px solid #BBB;
}
.download .btn {
	margin-bottom: 5px;
	color: sandybrown;
}
.download .btn:hover {
	background-color: sandybrown;
	color: #34495e;
}
.download .links {
	color: sandybrown;
}
.download .links:hover {
	text-decoration: none;
	border-bottom: 2px dotted;
}
.download .ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.download .ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.download .ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.download .ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
/*text*/
.heading {
  font-weight: 100;
  font-size: 38px;
  line-height: 68px;
}
@media (max-width: 900px) {
.heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}

.item {
  padding-right: 40px;
}

.paragraph {
  font-size: 18px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 40px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph {
  color: rgba(0,0,0,.5);
}

a.logo {
  font-family: 'Pacifico', serif;
  font-size: 44px;
  line-height: 60px;
  font-weight: 900;
	text-decoration: none;
	text-shadow: 0 0.032em 0 #32230B, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);
	color: #97E3F9;
}

a.logo img {
	margin-top: -10px;
	margin-right: 10px;
	width: 60px;
	height: auto;
}

@media (max-width: 420px) {
  a.logo img {
		margin-right: 5px;
    width: 42px;
  }

	a.logo {
    font-size: 32px;
  }
}
.nav-link2,
.nav-link {
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  color: inherit;
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.nav-link:hover {
	color: sandybrown;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: flex;
}
.spread {
  justify-content: space-between;
}
.center {
  align-items: center;
  justify-content: center;
}
.centervertical {
  flex-direction: column;
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
.vertical {
  flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {width: 8.333333%;}
.col-2 {width: 16.666667%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666667%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666667%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width: 91.666667%;}
.col-12 {width: 100%;}

/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}.header {
	padding: 20px 0 40px 0;
	overflow: hidden;
}
.header .sidedevices {
	margin: 40px 0 0
}
@media (max-width: 900px) {
	.header .sidedevices {
		min-height: inherit;
	}
	.header .flex {
		flex-direction: column;
	}
	.header	.heading {
		margin-top: 60px;
	}
	.header	.col-6 {
		width: 100%;
	}
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: white;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
.ctas-input {
	outline: none;
	border: none;
	letter-spacing: .3px;
	border-radius: 3px;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	width: 360px;
	display: inline-block;
}
@media (max-width: 440px) {
	.ctas-input,
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.socialproof {
	background-color: oldlace;
	padding: 100px 0;
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: #fff;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}

@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.footer {
	padding: 40px 0;
}
.footer .nav-link {
	display: inline-block;
	margin: 0 10px;
}.ctas-button,
.ctas-button-2 {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	padding: 0 30px;
	background: white;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .3px;
	border: 1px solid white;
	text-decoration: none;
}
.ctas-button-2 {
	background: transparent;
	color: white;
	margin: 0 0 0 10px;
}
@media (max-width: 440px) {
	.ctas-button,
	.ctas-button-2 {
		display: block;
		width: 100%;
		text-align: center;
	}
	.ctas-button-2 {
		margin: 10px 0 0 0;
	}
}.feature3 {
	padding: 100px 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
	background-color: aliceblue;
}
.feature3 .emoji {
	font-size: 55px;
	color: black
}
@media (max-width: 750px) {
  .feature3 .emoji {
    font-size: 40px;
  }
  .feature3 .flex {
    flex-wrap: wrap;
  }
  .feature3 .col-4:nth-of-type(1) {
  	width: 100%;
  	margin-bottom: 30px;
  }
  .feature3 .col-4:not(:nth-of-type(1)) {
  	width: 50%;
  }
}
@media (max-width: 500px) {
	.feature3 .col-4:nth-of-type(1) {
		margin-bottom: 0;
	}
  .feature3 .col-4:not(:nth-of-type(1)) {
  	width: 100%;
  	margin-top: 30px;
  }
}
